{% extends "base.html" %}

{% block title %}Token required{% endblock %}

{% block content %}
<div class="pa1 bg-light-red br3 shadow-4 tc">
    <p>You need a valid verification token to access this page</p>
</div>
{% endblock %}