{% extends "base.html" %}

{% block title %}Token expired{% endblock %}

{% block content %}
<div class="pa1 bg-light-red br3 shadow-4 tc">
    <p>The token is no longer valid</p>
</div>
{% endblock %}