{% extends "base.html" %}

{% block title %}Account created{% endblock %}

{% block content %}
<div class="pa1 bg-light-green br3 shadow-4 tc">
    <p>Account successfully created</p>
    <p>You can now start using the app</p>
</div>
{% endblock %}