<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>

<style>
    html {
        font-family: 'Roboto', sans-serif;
    }
    input:focus {
        transition: all 0.2s ease-in-out;
        outline: none;
        box-shadow: 0 0 3px rgba(49, 81, 209, 1);
        border: 1px solid rgba(49, 81, 209, 1);
    }
    body {
        background-color: #E9E9E9;
    }
    .bg-yellow {
        background-color: #FFD600;
    }
    .bg-nav {
        background-color: #FFEE73;
    }
</style>

<div class="flex flex-column items-center justify-center min-vh-100">
    <div class="h-25 pa4 tc">
        <img class="measure w-100" src="/static/uce_logo.png"/>
    </div>
    <div class="mw6 w-100">
        {% block content %}{% endblock %}
    </div>
</div>

</html>