{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="pa1 bg-light-green br3 shadow-4 tc">
    <p>Password reset</p>
    <p>You can now log in using your new password</p>
</div>
{% endblock %}