{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
<form class="measure center ma-auto" method="post">

    {% if form.errors %}
    <div class="pa1 bg-light-red br3 shadow-4">
        <p><strong>Not everything was filled out correctly:</strong></p>
        <ul class="list">
        {% for field in form.errors %}
        {% for msg in form.errors[field] %}
            <li>{{ msg }}</li>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <legend class="b f4 lh-copy">Reset your password</legend>

    {{ form.hidden_tag() }}

    <div class="mt3">
        {{ form.password(class="pa2 input-reset ba bg-white w-100 br3 shadow-4", placeholder="Password") }}
    </div>
    <div class="mt3">
        {{ form.verify_password(class="pa2 input-reset ba bg-white w-100 br3 shadow-4", placeholder="Repeat password") }}
    </div>

    <div class="mv4 tc">
        <input class="b pa2 bg-yellow br3 bn" type="submit" value="Reset password">
    </div>
</form>
{% endblock %}